%h1.title Welcome #{current_user.email}!
- clear_already_logged_in_alert
- unless flash[:alert].blank?
    #error_explanation
        = flash[:alert]
#mealForm
    = link_to 'Add a meal', new_meal_path, class: 'newMeal'
#symptomForm    
    = link_to 'Add new symptom', new_symptom_path, class: 'newSymptom'
%h2 Recent Meals:
= render partial: 'meal_display', locals: { meals: @meals} 
%h2 Recent Symptoms:
= render partial: 'symptom_display', locals: { symptoms: @symptoms} 